div {
   font-family: 'Arial';
   background-color: #a8cf45;
   margin: 10px 10px;
   text-align: center;
   font-weight: bolder;
   padding: 15px 30px;
   width: 80px;
   display: inline-block;
   vertical-align: middle;
}

/* Poner la translasion de 0 para que no se mueva  */
.esquina_pagina {
   -webkit-transform: translateX(0);
}

/* La magia */
.esquina_pagina:before {
   content: '';

   position: absolute;
   left: 0px;
   bottom: 0px;

   width: 0px;
   height: 0px;

   background: -webkit-linear-gradient(
      45deg,
      white 45%,
      #aaa 50%,
      #ccc 60%,
      white
      );
   transition-duration: 0.5s;
}

.esquina_pagina:hover:before {
   width: 35px;
   height: 35px;
}
