body {
   background: rgb(130, 5, 99);
   font-family: 'Arial';
}

nav {
   background: white;
   position: absolute;
   top: 0px;
   width: 100%;
   text-align: right;
}

nav ul {
   list-style: none;
   padding: 0px;
   margin: 0px;
}

li {
   display: inline-block;
   margin: 7px -2px ;
}

a {
   text-decoration: none;
   color: black;
   font-weight: bolder;
   padding: 5px 10px;
}

li:nth-of-type(1) a:focus {
   border-bottom: 3px solid rgb(193, 11, 11);
}

li:nth-of-type(2) a:focus {
   border-bottom: 3px solid rgb(4, 131, 13);
}

li:nth-of-type(3) a:focus {
   border-bottom: 3px solid rgb(4, 36, 131);
}
